//index.html

.joinUs {
	position: relative;
	padding: 2em;
	width: 100%;
	height: 60vh;
	text-align: center;
	background-image: url('../../dist/img/GymeltoroSSC-small.jpg');
	background-size: cover;
	background-position: center;
	z-index: 0;
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(1, 1, 1, 0.301);
		z-index: -10;
	}
	&__text {
		display: flex;
		justify-content: start;
		align-items: center;
		flex-direction: column;
		padding: 1em;
		text-align: center;
		height: 100%;
		color: #fff;
		h1 {
			margin-bottom: 5px;
			font-size: 4rem;
			text-transform: uppercase;
			text-shadow: 2px 2px 4px black;
		}
		p {
			font-size: 12px;
		}
		z-index: 5;
	}
	&__btn {
		position: absolute;
		bottom: 1em;
		padding: 1em 0.5em;
		font-size: 2rem;
		border-radius: 6px;
		background-color: rgb(216, 45, 45);
		transform: translateX(-50%);
		transition: background-color 0.3s;
		&:hover {
			background-color: rgb(170, 36, 36);
		}
	}
}
//fighters carousel styles
.carousel {
	&__container {
		width: 256px;
		position: relative;
	}
	&__inner {
		overflow: hidden;
	}
	&__track {
		display: inline-flex;
		transition: transform 0.8s;
	}
	&__card-container {
		flex-shrink: 0;
		width: 236px;
		height: 325px;
		padding-right: 15px;
		box-sizing: border-box;
	}
	&__card {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		border: 1px solid rgb(97, 97, 97);
		border-radius: 6px;
		overflow: hidden;
	}
	&__card__img {
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 100%;
		&--1 {
			background-image: url('../../dist/img/artur_kornik.jpg');
		}
		&--2 {
			background-image: url('../../dist/img/adam_niedwiedz.jpg');
		}
		&--3 {
			background-image: url('../../dist/img/igor_michaliszyn.jpg');
		}
		&--4 {
			background-image: url('../../dist/img/tomasz_jakubiec.jpg');
		}
		&--5 {
			background-image: url('../../dist/img/alan_langer.jpg');
		}
		&--6 {
			background-image: url('../../dist/img/mateusz_grzelec.jpg');
		}
		&--7 {
			background-image: url('../../dist/img/cyprian-wieczorek.jpg');
		}
		&--8 {
			background-image: url('../../dist/img/Piotr_Wolowik.jpg');
		}
		&--9 {
			background-image: url('../../dist/img/Piotr_Olszynka.jpg');
		}
	}

	&__card__info {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		height: 125px;
		color: #fff;
		background-color: rgb(32, 32, 32);
	}
	&__card__text {
		margin-top: 5px;
		font-weight: bold;
	}
	&__card__btn {
		padding: 0.5em 1em;
		margin: 5px 0;
		width: 100%;
		border: none;
		border-radius: 6px;
		color: #fff;
		font-size: 1.5rem;
		background-color: rgb(216, 45, 45);
		transition: background-color 0.3s;
		cursor: pointer;
		&:hover {
			background-color: rgb(170, 36, 36);
		}
	}
	&__nav-btn {
		position: absolute;
		top: 50%;
		transform: translate(50%, -50%);
		width: 40px;
		height: 40px;
		background-color: rgb(33, 33, 33);
		border-radius: 50%;
		border: 1px solid rgb(97, 97, 97);
		cursor: pointer;
		display: none;
		&--right {
			right: 20px;
		}
		&--left {
			left: -23px;
		}
	}
}

.aboutus {
	background-color: rgb(32, 32, 32);
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}
	&__img,
	&__img--right {
		width: 150px;
		margin-bottom: 1em;
		border-left: 4px solid rgb(216, 45, 45);
	}
	&__img--big {
		display: none;
	}
	&__title {
		margin-bottom: 0.5em;
	}
	&__text {
		font-size: 1.4rem;
		line-height: 1.4em;
	}
}
.trainings {
	position: relative;
	overflow: hidden;
	&__option {
		margin: 1em 0;
		box-shadow: 5px 5px 10px rgba(44, 44, 44, 0.795);
		background-color: #333;
		overflow: hidden;

		&-img {
			width: 100%;
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.1);
			}
		}

		&-info {
			padding: 2em;
			background-color: #333;
			z-index: 10;
		}
		&-title {
			text-transform: uppercase;
			margin-bottom: 0.5em;
			font-size: 2.4rem;
			font-weight: 300;
		}

		&-text {
			margin-bottom: 0.5em;
			font-size: 1.3rem;
			color: #fff;
		}
	}
}
.partners {
	background-color: rgb(32, 32, 32);
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__img {
		height: 100px;
		max-width: 350px;
		padding: 0.5em;
	}
}
.show {
	display: block;
	opacity: 1;
}
@media (min-width: 576px) {
	.carousel {
		&__container {
			width: 492px;
		}
	}
	.aboutus {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-text {
				padding: 1em;
				&--right {
					text-align: right;
				}
			}
			&-img {
				&--right {
					order: 1;
				}
			}
		}
		&__img,
		&__img--right {
			width: 175px;
		}
		&__img--right {
			border-left: none;
			border-right: 4px solid rgb(216, 45, 45);
		}
	}
}
@media (min-width: 768px) {
	.carousel {
		&__container {
			width: 728px;
		}
	}
	.joinUs {
		text-align: center;
		background-image: url('../../dist/img/GymeltoroSSC.jpg');
	}
	.aboutus {
		&__img--big {
			display: block;
		}
		&__img--small {
			display: none;
		}
		&__img,
		&__img--right {
			width: 215px;
		}
	}
	.trainings {
		&__option {
			display: flex;
			margin: 2em 0;
			width: 100%;

			&-img {
				width: 50%;

				&--right {
					order: 1;
				}
			}
			&-info {
				display: flex;
				flex-direction: column;
				justify-content: start;
			}
			&-title {
				margin-bottom: 0.5em;
				font-size: 3.6rem;
			}
			&-text {
				font-size: 1.8rem;
			}
		}
	}
}
@media (min-width: 992px) {
	.joinUs {
		height: 65vh;
	}
	.carousel {
		&__container {
			width: 964px;
		}
	}
	.aboutus {
		&__img,
		&__img--right {
			width: 250px;
		}
	}
}
@media (min-width: 1280px) {
	.joinUs {
		height: 76vh;
	}
	.carousel {
		&__container {
			width: 1200px;
		}
	}
}
